{% extends "base.html" %}

{% block "title" %}Projects{% endblock %}

{% block "content" %}
<h1>My Projects:</h1>
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'project_create' %}">New Project</a>
{% for project in projects %}
<p><a href="{% url 'project' project.pk %}">{{ project.title }}</a></p>
<div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'project_update' project.pk %}">Edit</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'project_delete' project.pk %}">Delete</a>
</div>
<hr>
{% endfor %}
{% endblock %}